<div class="w-full">
  <div class="flex flex-col items-center font-normal h-full w-full relative">
    <div
      class="w-full text-center mt-1 sticky top-0 bg-white flex flex-col items-center"
    >
      <h1 class="mt-4 text-[24px] font-mono">Dashboard</h1>
      <div class="w-11/12 border-b-[#673ab7] border-b-[0.5px]"></div>
    </div>

    <div class="p-10">
      <div class="flex flex-wrap gap-2 justify-center">
        <ng-container *ngFor="let user of allUsers">
          <div
            class="shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px] p-2 flex-shrink flex-grow w-full sm:w-[330px] sm:flex-grow-0 flex items-center flex-col"
          >
            <ul class="w-full flex flex-col justify-start">
              <li class="flex flex-col" #userUid>
                <span class="font-semibold">Name: </span> {{ user.firstName }}
                {{ user.lastName }}
              </li>
              <li class="flex flex-col" #userUid>
                <span class="font-semibold">Email: </span> {{ user.email }}
              </li>
              <li class="flex flex-col" #userUid>
                <span class="font-semibold">Role: </span> {{ user.role }}
              </li>
              <li class="flex flex-col" #userUid>
                <span class="font-semibold">Date of birth: </span>
                {{
                  user.birthDate.toDate().toISOString().split("T")[0]
                    | date : "mediumDate"
                }}
              </li>
            </ul>
            <div class="w-11/12 border-b-[#673ab7] border-b-[0.5px]"></div>
            <div class="w-full flex justify-between px-2">
              <button
                (click)="navigate(user.uid, 'shifts')"
                class="flex items-center text-sky-700"
              >
                <mat-icon>apps</mat-icon>
                Shifts
              </button>
              <button
                (click)="navigate(user.uid, 'addShift')"
                class="flex items-center text-sky-700"
              >
                <mat-icon>note_add</mat-icon>
                Add
              </button>
              <button
                (click)="navigate(user.uid, 'stats')"
                class="flex items-center text-sky-700"
              >
                <mat-icon>poll</mat-icon>
                Stats
              </button>
              <button
                (click)="navigate(user.uid, 'user')"
                class="flex items-center text-sky-700"
              >
                <mat-icon>edit</mat-icon>
                Edit
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
