<div class="flex flex-col items-center font-normal h-full w-full relative">
  <div
    class="w-full text-center mt-1 sticky top-0 bg-white flex flex-col items-center"
  >
    <h1 class="mt-5 text-[24px]">Welcome to your dashboard</h1>
  </div>
  <!-- <div class="w-11/12 border-b-sky-500 border-b-[0.5px]"></div>
  <div *ngIf="!isLoggedIn()" class="mt-8">
    <p>
      If you need to access this application, you need to register or login:
    </p>
    <div class="mt-4 flex justify-center gap-5">
      <button
        routerLink="/register"
        class="bg-sky-500 hover:bg-sky-800 active:bg-green-800 cursor-pointer px-4 py-2 text-xl rounded-md text-white disabled:cursor-not-allowed disabled:bg-slate-300"
      >
        Register
      </button>
      <button
        routerLink="/login"
        class="bg-sky-500 hover:bg-sky-800 active:bg-green-800 cursor-pointer px-4 py-2 text-xl rounded-md text-white disabled:cursor-not-allowed disabled:bg-slate-300"
      >
        Login
      </button>
    </div>
  </div>
  <div class="flex items-start w-full">
    <app-bestmonth></app-bestmonth>
  </div>

  <div
    class="w-11/12 border-b-sky-500 border-b-[0.5px]"
    *ngIf="isLoggedIn()"
  ></div>
  <div class="flex items-start w-full">
    <app-upcomingshifts></app-upcomingshifts>
  </div>

  <div
    class="w-11/12 border-b-sky-500 border-b-[0.5px]"
    *ngIf="isLoggedIn()"
  ></div> -->
  <div class="w-full p-4" *ngIf="isLoggedIn()">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="stretch">
      <mat-tab label="Best month"> <app-bestmonth></app-bestmonth></mat-tab>
      <mat-tab label="Upcoming shifts"
        ><app-upcomingshifts></app-upcomingshifts></mat-tab
    ></mat-tab-group>
  </div>
</div>
