<div class="w-full h-full flex flex-col justify-between p-3">
  <div class="flex items-start justify-between flex-col gap-5 w-full">
    <ul
      class="flex flex-col list-none font-normal text-[#673ab7] w-full gap-1 mt-4"
      *ngIf="isLoggedIn"
    >
      <li
        class="cursor-pointer hover:underline w-full rounded-md flex items-center gap-1 text-base"
        routerLink="dashboard"
        (click)="buttonClicked()"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="home"
        ></mat-icon>

        Dashboard
      </li>
      <li
        class="cursor-pointer hover:underline w-full rounded-md flex items-center gap-1 text-base"
        routerLink="/shifts"
        (click)="buttonClicked()"
      >
        <mat-icon>apps</mat-icon>
        Shifts
      </li>
      <li
        class="cursor-pointer hover:underline w-full rounded-md flex items-center gap-1 text-base"
        routerLink="/shift"
        (click)="buttonClicked()"
      >
        <mat-icon>note_add</mat-icon>
        Add shift
      </li>
      <li
        class="cursor-pointer hover:underline w-full rounded-md flex items-center gap-1 text-base"
        routerLink="/userprofile"
        (click)="buttonClicked()"
      >
        <mat-icon>account_circle</mat-icon>
        Settings
      </li>
    </ul>
    <div
      class="w-full border-b-[#673ab7] border-b-[0.5px] h-1"
      *ngIf="isLoggedIn"
    ></div>
    <ul
      class="flex flex-col list-none font-normal text-[#673ab7] w-full"
      *ngIf="isLoggedIn"
    >
      <li
        class="cursor-pointer hover:underline w-full rounded-md flex items-center gap-1 text-base"
        routerLink="/admin/allUsers"
        *ngIf="isAdmin"
        (click)="buttonClicked()"
      >
        <mat-icon>view_comfy</mat-icon>
        Admin dashboard
      </li>
    </ul>
    <div></div>
  </div>
  <div>
    <ng-container *ngIf="isLoggedIn" class="flex flex-col">
      <div class="w-full border-b-[#673ab7] border-b-[0.5px] h-1 mb-4"></div>
      <p>Welcome</p>
      <p class="text-[#673ab7] font-medium">
        {{ userData?.lastName }}
      </p>
      <button
        class="font-semibold text-lg text-red-700 cursor-pointer hover:underline flex items-center gap-1"
        (click)="handleLogout(); buttonClicked()"
      >
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
    </ng-container>
  </div>
</div>
