<div class="w-full h-full flex flex-col justify-between p-4">
  <div class="flex items-start justify-between flex-col gap-5 w-full">
    <img
      src="../../../assets/images/logo.png"
      alt="Shift logo"
      class="text-left h-9"
    />
    <!-- </div> -->
    <!-- <div> -->
    <div class="w-full border-b-sky-500 border-b-[0.5px] h-1"></div>
    <ul
      class="flex flex-col list-none font-medium text-sky-700 w-full"
      *ngIf="isLoggedIn"
    >
      <li
        class="cursor-pointer hover:bg-orange-200 w-full p-1 rounded-md"
        routerLink="/shifts"
      >
        Shifts
      </li>
      <li
        class="cursor-pointer hover:bg-orange-200 w-full p-1 rounded-md"
        routerLink="/shift"
      >
        Add shift
      </li>
    </ul>
  </div>
  <div>
    <ng-container *ngIf="isLoggedIn" class="flex flex-col">
      <p>Welcome</p>
      <span
        routerLink="/userprofile"
        class="hover:underline cursor-pointer text-sky-700 font-medium"
      >
        <!-- {{ userData?.firstName }} -->
        {{ userData?.lastName }}</span
      >
      |
      <button
        class="font-semibold text-lg text-red-700 cursor-pointer underline"
        (click)="handleLogout()"
      >
        Logout
      </button>
    </ng-container>
  </div>
</div>
