<div class="w-full h-full flex justify-between items-center p-4">
  <div>
    <h1>Shifts logo</h1>
  </div>
  <div>
    <ul class="flex gap-6 list-none font-black text-sky-700" *ngIf="isLoggedIn">
      <li class="cursor-pointer text-xl">Shifts</li>
      <li class="cursor-pointer text-xl">Add shift</li>
    </ul>
    <ul
      class="flex gap-6 list-none font-black text-sky-700"
      *ngIf="!isLoggedIn"
    >
      <li class="cursor-pointer text-xl">Login</li>
      <li class="cursor-pointer text-xl">Register</li>
    </ul>
  </div>
  <div>
    <ng-container *ngIf="isLoggedIn">
      Welcome {{ userData?.firstName }} {{ userData?.lastName }} |
      <button
        class="font-semibold text-lg text-red-700 cursor-pointer underline"
        (click)="handleLogout()"
      >
        Logout
      </button></ng-container
    >
  </div>
</div>
